<html>
<head>
    <title>jwt 생성 홈페이지</title>
    <meta charset="utf-8">
</head>
<body>
<h2>JWT 생성 페이지</h2>
    <form action="/token" method="post">
        아이디 : <input type="text" name="email" placeholder="이메일"><br>
        이름 : <input type="text" name="name" placeholder="이름"><br>
        전화번호 : <input type="text" name="telephone" placeholder="전화번호"><br>
        사용자 유형 : <input type="text" name="usertype" placeholder="사용자 유형" value="u"><br>
        <input type="submit" value="로그인">
    </form>
</body>
</html>